<ion-side-menu side="right" ng-controller="MainController">
	<ul class="list" ng-click="toggleSideMenu()">
        <a href="#" class="item item-icon-right" >
            <i class="icon ion-ios7-home-outline"></i>Dashboard</a> 

        <a href="#activity_records" class="item item-icon-right" >
        	<i class="icon ion-ios7-calendar-outline"></i>Observer Activity Logs</a> 

        <a href="#sightings" class="item item-icon-right"><i class="icon ion-ios7-eye-outline"></i>Sightings</a>

        <div class="item item-divider"></i>Settings</div>
        <a href="#settings" class="item item-icon-right">
        	<i class="icon ion-ios7-gear-outline"></i>Servers</a>

        <a href="#" class="item item-icon-right">
        	<i class="icon ion-ios7-navigate-outline"></i>Location</a>

        <div class="item item-divider">Sync</div>
        <a href="#" class="item item-icon-right">
        	<i class="icon ion-ios7-cloud-upload-outline"></i>Save to Remote DB</a>       
    </ul>
</ion-side-menu>
