
#timer_status{
    padding: 1em;
}
#timer_status.on{
    background-color: #CBEDBB;
}
#timer_status.off{
    background-color: #EDBBC7;
}
.stopped{
    /*background-color: #EDBBC7;*/
    border: 1px solid rgb(212, 44, 44);
    border-left: none;
    border-right: none;
    background-color: #DCD6D6;
}
label{
    display:block;
    font-weight: bold;
}
#pheno_obs{
    border: 1px solid #333;
    padding: .5em;
}
.site_start{
    border:1px solid red;
    display: inline;
    padding: 0.2em;
}
.sighting_notes,.activity_notes{
    border:1px solid #c9c9c9;
    padding: 1em;
}
li a.sighting_item{
    font-weight: normal;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 2em;
}
#current_activity_records ul{
    margin: 1em 0 0 0;
    list-style-type: none;
    background-color: #f6f6f6;
    border-color: #ddd;
    color: #333;
}
button{
    display:block;
}
select{
    display:block;
}
.time_input input{
    width: 2.5em;
    text-align: center;
}
a.activity_stop_btn{
    margin-left: 1em;
}
/* make the stop button red */
.activity_stop_btn.ui-mini.ui-btn-icon-left:after{
    background-color: rgb(212, 44, 44);
}
ul.activities .activity_item{
    text-align: left;
    font-weight: normal;
}
/*#activity_notes{
    display: none;
}*/
/*
#frequency_input{
    width:3em;
}
#frequency_slider{
    width: 75%;
    display:block;
}*/
#new_phenotype{
    display:none;
}
#sync_remote{
    display: none;
}
#pheno_obs_records{
    display: none;
}
#sighting_notes_wrap{
    display: none;
}
#add_pheno_btn{
    display: none;
    font-weight: 400;
}
#activity_records{
    display: none;
}
#new_activity{
    padding:2em;
}
#new_activity_btn{
    background-color: #B7C4CE ; /*#7FBF7B #38c*/
    text-shadow:none;
}
#msg{
    border: 1px dotted #999;
    background-color: #eee;
}
#sightings_status_bar,#activity_status_bar{
    font-weight: 400;
}
textarea{
    /*width:100%;
    height:25%;*/
}
#obs_activity_list{
    margin-bottom: 0;
}
.custom_list_item{
    background-color: #f6f6f6;
    border-color: #ddd;
    color: #333;
    text-shadow: 0 1px 0 #f3f3f3;
}
#activity_detail{
    padding: 1em;
}
div.ui-controlgroup-controls a{
    font-weight: normal;
}
div[data-role="navbar"] a{
    font-weight: normal;
}
